@import "node_modules/roboto-fontface/css/roboto/sass/roboto-fontface.scss";
$icon-font-path: '../fonts/';

@import "./_variables.scss";

@import "node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";


@import "./components/footer.scss";


.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


main {

  min-height: 80vh;
  padding-top: 50px;
}
