<!doctype html>
<html class="no-js" lang="en">
  {{> head}}
  <body>

    {{> header}}

    <main class="container">
      <p>Page views: {{page_views}}</p>
      <br>

      <h1>Stack</h1>
      {{#each stack}}
        <p><strong>{{roll}} </strong> {{technology}}</p>
      {{/each}}


    </main>

    {{> footer}}

  </body>
</html>
