<!doctype html>
<html class="no-js" lang="">
  {{> head}}
  <body>

    {{> header}}
    <main class="container">
      <h1>{{title}}</h1>
      {{subtitle}}
    </main>

    {{> footer}}

  </body>
</html>
