<!doctype html>
<html class="no-js" lang="">
  {{> head}}
  <body>
    {{> header}}

    <main class="container">

      <div class="jumbotron">
        <h1>{{title}}</h1>
        <p>{{subtitle}}</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
      </div>

    </main>
    {{> footer}}
  </body>
</html>
