<!doctype html>
<html class="no-js" lang="en">
  {{> head}}
  <body>
    {{> header}}
    <main class="container">
      <h1>{{title}}</h1>
      <img src="{{user.avartar}}" class="img-circle"/>
      <h3>Username: {{user.username}}</h3>
    </main>

    {{> footer}}

  </body>
</html>
